@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Medium.otf");
}

.label {
	-fx-font: 11pt "ITC Franklin Gothic Med";
}

.spinner {
	-fx-pref-width: 100px;
}

.text-field {
	-fx-background-radius: 0;
	-fx-font: 11pt "ITC Franklin Gothic Med";
}

.button {
	-fx-font: 12pt "ITC Franklin Gothic Med";
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 0;
	-fx-background-insets: 0, 3, 0, 3;
	-fx-background-color: #0077CA;
	-fx-padding: 10, 0, 10, 0;
	-fx-pref-width: 250px;
	-fx-border-width: 2px;
	-fx-border-color: #FFFFFF;
}

.button:hover {
	-fx-text-fill: #D8DFE6;
	-fx-background-color: #003C71;
}

#exit-button {
	-fx-background-color: #E75D2A;
}

#exit-button:hover {
	-fx-background-color: #D12721;
}

#exit-popup-button {
	-fx-padding: 3;
	-fx-font-size: 9pt;
	-fx-pref-width: 50px;
	-fx-background-color: #E75D2A;
}

.root {
	-fx-background: #FFFFFF;
}