@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Medium.otf");
}

.label {
	-fx-font: 11pt "ITC Franklin Gothic Med";
}

.spinner {
	-fx-pref-width: 75px;
}

.text-field {
	-fx-background-radius: 0;
	-fx-font: 11pt "ITC Franklin Gothic Med";
}

.button {
	-fx-font: 12pt "ITC Franklin Gothic Med";
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 0;
	-fx-background-insets: 0, 3, 0, 3;
	-fx-background-color: #0077CA;
	-fx-padding: 10, 0, 10, 0;
	-fx-pref-width: 250px;
	-fx-border-width: 2px;
	-fx-border-color: #FFFFFF;
}

.button:hover {
	-fx-text-fill: #D8DFE6;
	-fx-background-color: #003C71;
}

#help-img {
	-fx-image: url('img/google_mat_help.png');
}

#help-img:hover {
	-fx-image: url('img/google_mat_help_hover.png');
}

#delete-item-button {
	-fx-pref-width: 30px;
	-fx-pref-height: 30px;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-background-image: url('img/google_mat_del.png');
	-fx-background-repeat: no-repeat;
	-fx-background-size: 30px;
	-fx-background-position: center;
}

#delete-item-button:hover {
	-fx-background-image: url('img/google_mat_del_hover.png');
}

#exit-button {
	-fx-background-color: #E75D2A;
}

#exit-button:hover {
	-fx-background-color: #D12721;
}

#exit-popup-button {
	-fx-padding: 5, 55, 5, 55;
	-fx-font-size: 9pt;
	-fx-pref-width: -1;
	-fx-background-color: #E75D2A;
}

.root {
	-fx-background: #FFFFFF;
}