@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Medium.otf");
}

.button {
	-fx-font: 12pt "ITC Franklin Gothic Med";
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 0;
	-fx-background-insets: 0, 3, 0, 3;
	-fx-background-color: #0077CA;
	-fx-padding: 10, 0, 10, 0;
	-fx-pref-width: 175px;
	-fx-border-width: 2px;
	-fx-border-color: #FFFFFF;
}

.button:hover {
	-fx-text-fill: #D8DFE6;
	-fx-background-color: #003C71;
}

#dialog-title-text {
	-fx-font: 12pt "ITC Franklin Gothic Med";
}

#disabled-button {
	-fx-background-color: #A7A8AA;
}

#completed-button {
	-fx-background-color: #4A8755;
}

#exit-button {
	-fx-background-color: #E75D2A;
}

#exit-button:hover {
	-fx-background-color: #D12721;
}

#popup-button {
	-fx-padding: 5, 55, 5, 55;
	-fx-font-size: 9pt;
	-fx-pref-width: -1;
}

#exit-popup-button {
	-fx-padding: 5, 55, 5, 55;
	-fx-font-size: 9pt;
	-fx-pref-width: -1;
	-fx-background-color: #E75D2A;
}

.root {
	-fx-background: #FFFFFF;
}