@font-face {
	src: url("fonts/Ubuntu-R.ttf");
}

@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Medium.otf");
}

@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Book.otf");
}

#big-label {
	-fx-font: 11pt "ITC Franklin Gothic Med";
}

#team-list-label {
	-fx-font: 9pt "ITC Franklin Gothic Std Book";
}

#time-label {
	-fx-font: 13pt "Ubuntu";
}

#title-label {
	-fx-padding: 20px 0px 10px 0px;
	-fx-font: 15pt "Ubuntu";
}

#dialog-title-label {
	-fx-padding: 0px 0px 5px 0px;
	-fx-font: 12pt "ITC Franklin Gothic Med";
}

.check-box > .box {
	-fx-padding: 0.35em 0.35em 0.525em 0.525em;
}

.check-box > .box > .mark {
	-fx-padding: 0.875em 0.875em 1.05em 1.05em;
}

.spinner {
	-fx-pref-width: 60px;
}

.spinner > .text-field {
	-fx-alignment: center;
}

.button {
	-fx-font: 12pt "ITC Franklin Gothic Med";
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 0;
	-fx-background-insets: 0, 3, 0, 3;
	-fx-background-color: #0077CA;
	-fx-padding: 10, 0, 10, 0;
	-fx-pref-width: 120px;
	-fx-border-width: 2px;
	-fx-border-color: transparent;
}

.button:hover {
	-fx-text-fill: #D8DFE6;
	-fx-background-color: #003C71;
}

#disabled-header-button {
	-fx-background-color: #A7A8AA;
	-fx-pref-width: 130px;
	-fx-padding: 5, 0, 5, 0;
}

#disabled-header-button:hover {
	-fx-text-fill: #FFFFFF;
}

#orange-header-button {
	-fx-background-color: #E75D2A;
	-fx-pref-width: 130px;
	-fx-padding: 5, 0, 5, 0;
}

#orange-header-button:hover {
	-fx-background-color: #D12721;
}

#header-button {
	-fx-pref-width: 130px;
	-fx-padding: 5, 0, 5, 0;
}

#header-button:hover {
	-fx-background-color: #005793;
}

#popup-button {
	-fx-padding: 5, 55, 5, 55;
	-fx-font-size: 9pt;
	-fx-pref-width: -1;
}

#no-button {
	-fx-padding: 5, 55, 5, 55;
	-fx-font-size: 9pt;
	-fx-pref-width: -1;
	-fx-background-color: #E75D2A;
}

#no-button:hover {
	-fx-background-color: #D12721;
}