@font-face {
	src: url("fonts/Ubuntu-R.ttf");
}

@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Medium.otf");
}

@font-face {
	src: url("fonts/ITC_Franklin_Gothic-Book.otf");
}

.label {
	-fx-font: 11pt "ITC Franklin Gothic Med";
}

#team-list-label {
	-fx-font: 9pt "ITC Franklin Gothic Std Book";
}

#time-label {
	-fx-font: 13pt "Ubuntu";
}

#title-label {
	-fx-padding: 20px 0px 10px 0px;
	-fx-font: 15pt "Ubuntu";
}

.check-box > .box {
	-fx-padding: 0.35em 0.35em 0.525em 0.525em;
}

.check-box > .box > .mark {
	-fx-padding: 0.875em 0.875em 1.05em 1.05em;
}

.spinner {
	-fx-pref-width: 60px;
}

.spinner > .text-field {
	-fx-alignment: center;
}